.wall-container {
    /*height: 80%;*/
    margin: 0 6%;
}

.wall {
    padding: 10px 10px;
    --auto-grid-min-size: 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
}

.wall-heading {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wall-title {
    font-weight: 600;
}

.wall-subtitle {
    font-family: 'Inter';
    font-size: 20px;
}